body{
    background: radial-gradient(#7b5899, #a84579, #7b5899);
}
.card{
    width: 20rem;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;
}
.card-body{
    padding: 3rem !important;
}
.container-fluid.row{
    padding-top: 6rem;
}



